<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- the same as appSettings -->
    <section name="FavoriteUrls" type="System.Configuration.NameValueSectionHandler" />
    <!-- custom section -->
    <section name="StartupFolders" type="UpDataCAD.StartupFoldersConfigSection, UpDataCAD" />
    <section name="WebAddress" type="UpDataCAD.WebAddressConfigSection, UpDataCAD" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="repo" value="c:\Users\Slawek\Repo" />
    <add key="cad" value="C:\CADProjekt\CAD Decor Paradyz v. 2.3.0\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <StartupFolders>
    <Folders>
      <add company="opoczno" web="http://www.opoczno.eu/o-opoczno/#!/dla-architektow-i-inwestorow/" path="http://opoczno.eu/uploads/" />
      <add company="cersanit" web="http://www.cersanit.com.pl/page/dla-architektow-pliki-do-pobrania" path="http://www.cersanit.com.pl/public/" />
    </Folders>
  </StartupFolders>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>